<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}" ></head>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Battleship - Game</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->

<!--</head>-->
<body>
    <div th:insert="~{fragments/app-bar.html :: appBar}"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 my-2 text-center">
                <h1>Battleship - Game</h1>
            </div>
            <div class="col-12 my-2 text-center" id="instructions">
            </div>
            <div class="col-7 col-sm-6 col-lg-5 col-xl-4 align-self-center my-2">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered border-2">
                                <tbody>
                                <tr th:each="row : ${#numbers.sequence(0, endValue)}">
                                    <td th:each="col : ${#numbers.sequence(0, endValue)}" class="p-0">
                                        <button class="boardBtn btn btn-link p-0 border-0 bg-transparent"
                                                th:id="${row + '.' + col}">
                                            <img class="img-fluid p-0" th:src="@{'/images/' + ${imgPath}}"
                                                 th:id="${'image_'+row+'.'+col}" alt="..."/>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 my-1 text-center">
                        <button class="btn btn-danger btn-sm" id="delete">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-7 col-sm-6 col-lg-5 col-xl-4 text-center my-2">
                <h5>Submarines table</h5>
                <div class="table-responsive my-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Size</th>
                                <th scope="col">Needed</th>
                                <th scope="col">Has</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each = "entry: ${option.entrySet()}">
                                <td th:text="${entry.key}"></td>
                                <td th:text="${entry.value}" th:id="${'needed_'+ entry.key}"></td>
                                <td th:id="${'have_'+ entry.key}">0</td>
                                <td>
                                   <button class="addButton btn btn-primary btn-sm" th:id="${'addButton_' + entry.key}">Add</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="sticky-bottom">
            <div class="row justify-content-center bg-light">
                <div class="col-12 text-center my-2">
                    <form th:action="${url}" th:method="post" enctype="application/json">
                        <button class="btn btn-success" disabled id="ready">Ready</button>
<!--                        <div id="paramsToServer" class="d-none"></div>-->
                        <label>
                            <input type="hidden" name="boardName" class="d-none" id="boardName"/>
                        </label>
                    </form>
                </div>
                <div class="col-12 my-2 text-center">
                    Waiting for '____' ... / Player '____' is ready and waiting for you
                </div>
            </div>

        </div>
    </div>
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#errorModal" id="errorBtn">
    </button>

    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorAria" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="errorAria">Error</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="error">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script th:src="@{/javascripts/gameInit.js}"></script>
</body>
</html>