<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BattleShip - Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7 col-sm-6 align-self-center">
                <div class="table-responsive">
                    <table class="table table-bordered border-2">
                        <tbody>
                            <tr th:each="row : ${#numbers.sequence(0, endValue)}">
                                <td th:each="col : ${#numbers.sequence(0, endValue)}" class="p-0">
                                        <button class="boardBtn btn btn-link p-0 border-0 bg-transparent"
                                                th:id="${row + '.' + col}">
                                            <img class="img-fluid p-0" th:src="@{'/images/' + ${imgPath}}"
                                                 th:id="${'image_'+row+'.'+col}" alt="..."/>
                                        </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7 col-sm-6 text-center">
                <h5>Submarines table</h5>
                <div class="table-responsive my-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Size</th>
                                <th scope="col">Needed</th>
                                <th scope="col">Has</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each = "entry: ${option.entrySet()}">
                                <td th:text="${entry.key}"></td>
                                <td th:text="${entry.value}" th:id="${'needed_'+ entry.key}"></td>
                                <td th:id="${'have_'+ entry.key}">0</td>
                                <td>
                                   <button class="addButton btn btn-primary btn-sm" th:id="${'addButton_' + entry.key}">Add</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script th:src="@{/javascripts/gameInit.js}"></script>
</body>
</html>