<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}" ></head>
<body>
    <div th:insert="~{fragments/app-bar.html :: appBar}"></div>
    <div th:insert="~{fragments/main-pic.html :: main-pic}"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h4>Welcome <span sec:authorize="isAuthenticated()" sec:authentication="name">?</span></h4>
                <h5>waiting for another player to join the room</h5>
                <table class="room-player-body-table-body">
                    <thead>
                    <tr>
                        <th scope="col">Board Type</th>
                        <th scope="col">Room Creator</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="rooms-table-body">
                    </tbody>
                </table>
                <a th:href="@{/lobby}">back to lobby</a>
            </div>
        </div>
    </div>
</body>
</html>