<span th:fragment="appBar">
  <div th:fragment="logout" class="logout">
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
      <div class="container-fluid">
        <h3 class="navbar-brand" href="#">Battleships</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/how-to-play}">How To Play</a>
            </li>
            <li  sec:authorize="isAuthenticated()" class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/lobby}">Lobby</a>
            </li>
          </ul>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <p   class="badge bg-primary text-wrap">administrator mode</p>
          </li>
          <li>
            <p class="d-inline p-2 text-bg-dark">Welcome <span sec:authorize="isAuthenticated()" sec:authentication="name" id="name"></span>! </p>
          </li>
          <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" style="display:inline">
              <input class="btn btn-outline-light" type="submit" value="Logout"/>
            </form>
          </li>
          <li sec:authorize="!isAuthenticated()">
            <form th:action="@{/login}" method="get" style="display:inline">
              <input class="btn btn-outline-light" type="submit" value="Login"/>
            </form>
          </li>
        </div>
      </div>
    </nav>
  </div>
</span>