<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}" ></head>
    <body>

    <div th:insert="~{fragments/app-bar.html :: appBar}"></div>
    <div th:insert="~{fragments/main-pic.html :: main-pic}"></div>
    <div class="row my-1">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="text-center">Welcome to Battleship!</h1>
            <p class="text-center" sec:authorize="!isAuthenticated()">Please login to the game</p>
            <p class="text-center" sec:authorize="isAuthenticated()">Please press on the "Lobby" or the "how to play" buttons</p>
        </div>
        <div class="col-3"></div>
    </div>
    </body>
</html>