<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head" ></head>
    <body>

    <div th:insert="fragments/upper.html :: appBar"></div>
    <div class="row my-3">
        <div class="col-4"></div>
        <div class="col-4">
            <img class="img-thumbnail" src="https://ips4-wowslegends-global.gcdn.co/monthly_2022_08/Mackensen_Zieten_P-Hienrich_Dirffinger_DE_BB_1920x1080_LG_SPb_WoWSL_No_Logo.jpg.e9b87818b3aca2ce4ef14cacedcf528c.jpg">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row my-1">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="text-center">Welcome to Battleship!</h1>
            <p class="text-center" sec:authorize="!isAuthenticated()">Please login to the game</p>
            <p class="text-center" sec:authorize="isAuthenticated()">Please press on the "Start game" or the "how to play" buttons</p>
        </div>
        <div class="col-3"></div>
    </div>
    </body>
</html>